# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Logs
logs/
*.log

# Flask specific
instance/
.webassets-cache

# VS Code settings
.vscode/